body {
  background-color: darkslategray;
  color: antiquewhite;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.known {
  color: greenyellow;
}
.unknown {
  color: tomato;
}
a {
  color:inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
